.footer 
{
    
    a 
    {
        text-decoration: none;
        &:hover{
            color:rgba(114, 71, 202, 1);
        }
    }
    &__container
    {
        padding: clamp(48px,52px,64px) 16px;
        max-width: 638px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 32px;
        
    }
    &__from
    {
        width: 315px;
        
        background-color:red;
    }
    &__btn
    {
        position: absolute;
    }
    &__input
    {
        position: relative;
    }
    &__bottom
    {
        text-align: center;
        margin: 0 auto;
    }
    &__privacy
    {
        margin-bottom: 24px;
                //styleName: 14px - Heading 5/14px - Heading 5 - Regular;
        font-family: 'Source Serif 4';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;

    }
    &__media
    {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 39px;
       justify-content: center;
       &--links
       {
        transition: all 0.2s ease-in-out;
        font-size: 15px;
        color:rgba(34, 34, 34, 1);
        &:hover
        {
            color:rgba(114, 71, 202, 1);
        }
       }
    }
    
}