$burgerbg: rgb(255, 255, 255);
$bottom: rgba(128, 128, 128, 0.274);
.header {
    margin-bottom: clamp(48px,96px,96px);
    border-bottom: 1px solid $bottom;
    &__container {
        height: 106px ;
        min-height: 53px;
        max-width: 1440px;
        padding: 0 16px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        text-transform: uppercase;
        display: flex;
        gap: 0 39px;
        
    }
    &__logo {
        z-index: 101;
        &--text {
         
            font-family: Oswald;
            font-size: 19px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.05em;
        }
    }
    &__link {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.16em;
    }
    &__nav
    {
        display: flex;
    }
    &__search
    {
        
        
    }
    &__burger{
    
  
        &--open
        {
            z-index: 101;
            display: none;
            aspect-ratio: 1/1;
            width: 32px;
        }
    }
}

@media screen and (max-width:768px) {
    .header{
        
    
        &__link
        {
            font-size: 
            14px;
        }
        &__nav{
            transition: all 0.5s ease-in-out;
  
            padding: 100px 0 48px;
            z-index: 100;
            position: absolute;
            background-color:$burgerbg;
            top: 0;
            right: 0;
            left: 0;
            display: flex;
            justify-content: center;
            
            transform: translateY(-1000px);
            border-bottom: 1px solid $bottom;

        }
    
        &__menu
        {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap:39px
        }
        &__burger
        {
         
            &--close
            {
                display: block;
              
                position: absolute;
                aspect-ratio: 1/1;
                width: 32px;
                top:50px;
                right: 20px;

                background-color:transparent;
                border:none;
                padding: 0;
                
                
            }
            &--open
            {
                display: block;

                background-color:transparent;
                border:none;
                padding: 0;
               
            }
         
        }
        
        &__search
        {
            display: none;
        }
    }
   
}
.burger--icon
{
    font-size: 25px;
}