@import "./resets";
@import "./normalazis";
@import "./header";
@import "./podcast";
@import "./audio";
@import "./posts";
@import "./footer";
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Serif+4:opsz,wght@8..60,400;8..60,600&display=swap');
/* MAIN STYLES 
/* ================================================ */
$black: black;
$purple:rgba(114, 71, 202, 1);
$gray:rgba(85, 85, 85, 1);

body{
    height: 100%;
}
img {
    display: block;
    max-width: 100%;
}

span {
    display: inline-block;
}

.link
{
    text-decoration: none;
    color:$black;
    font-family: 'Source Serif 4' ;
    font-weight: 600;
    letter-spacing: 0.16em;


}
.purple
{
    color: $purple;

}
.open 
{
    transform: translate(0);
}

.midText
{
    //styleName: 16px - Heading 4 - Regular;
    font-family: 'Source Serif 4';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color:$gray;

}
.container
    {
        padding: 0 16px;
        max-width: 641px;
        margin: 0 auto;
    }

.Title
{
    font-family: 'Source Serif 4';
font-size: 21px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0em;

}
// body{
//     & *{
//         overflow: scroll;
 
//         animation: 1s linear 0s normal none infinite running rot;
//         -webkit-animation: 1s linear 0s normal none infinite running rot;
//     }
  

 
// }
// @keyframes rot {
//     0% {
//       transform: rotate(0deg);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
//   }

.loader__background
{
    position: fixed;

    top: 0;
    width: 100%;
    height: 100%;
    z-index: 120;
    background-color: white;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 70px;
    aspect-ratio: 1/1;
    display: inline-block;
    position: relative;
   
  }
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
    animation-delay: 1s;
  }

  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  .hide 
  {
    opacity: 0;

  }