@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Serif+4:opsz,wght@8..60,400;8..60,600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  margin-bottom: 96px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}
.header__container {
  height: 106px;
  min-height: 53px;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  text-transform: uppercase;
  display: flex;
  gap: 0 39px;
}
.header__logo {
  z-index: 101;
}
.header__logo--text {
  font-family: Oswald;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.05em;
}
.header__link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.16em;
}
.header__nav {
  display: flex;
}
.header__burger--open {
  z-index: 101;
  display: none;
  aspect-ratio: 1/1;
  width: 32px;
}

@media screen and (max-width: 768px) {
  .header__link {
    font-size: 14px;
  }
  .header__nav {
    transition: all 0.5s ease-in-out;
    padding: 100px 0 48px;
    z-index: 100;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transform: translateY(-1000px);
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
  }
  .header__menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 39px;
  }
  .header__burger--close {
    display: block;
    position: absolute;
    aspect-ratio: 1/1;
    width: 32px;
    top: 50px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .header__burger--open {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .header__search {
    display: none;
  }
}
.burger--icon {
  font-size: 25px;
}

.song {
  margin-bottom: 96px;
}
.song__container {
  padding: 0 16px;
  max-width: 673px;
  margin: 0 auto;
  text-align: center;
}
.song--img {
  display: block;
  margin: 0 auto;
  margin-bottom: 39px;
}
.song h1 {
  font-family: "Source Serif 4";
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  margin-bottom: 16px;
}
.song__info {
  font-family: "Source Serif 4";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: rgb(151, 151, 151);
  margin-bottom: 48px;
}

.listenOn__title {
  font-family: "Source Serif 4";
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.16em;
  margin-bottom: 12px;
}
.listenOn__streaming {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 135px;
}
.listenOn__streaming--link {
  text-decoration: none;
  color: rgb(34, 34, 34);
}
.listenOn__streaming--link i {
  font-size: 30px;
}
.listenOn__streaming--link:nth-child(1):hover {
  color: rgb(62, 182, 62);
}
.listenOn__streaming--link:nth-child(2):hover {
  color: rgb(255, 83, 20);
}
.listenOn__streaming--link:nth-child(3):hover {
  color: rgb(155, 155, 155);
}
.listenOn__streaming--link:hover {
  transition: all 0.2s ease-in;
}

.podcastTheme {
  margin-bottom: 48px;
}
.podcastTheme__container {
  padding: 0 16px;
  max-width: 673px;
  margin: 0 auto;
}
.podcastTheme__title {
  font-family: "Source Serif 4";
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 24px;
}
.podcastTheme__about {
  margin-bottom: 39px;
}

.listenTime {
  margin-bottom: 24px;
}
.listenTime__container {
  border: 1px solid rgb(234, 234, 238);
  padding: 24px !important;
  max-width: 625px !important;
}
.listenTime__title i {
  color: rgb(114, 71, 202);
}

.discription {
  height: 314px;
  max-width: 625px !important;
  overflow-y: scroll;
  padding: 24px !important;
  border: 1px solid rgb(234, 234, 238);
  word-wrap: break-all;
  border-top: none;
}
.discription::-webkit-scrollbar {
  border-radius: 10px;
  background: rgb(234, 234, 238);
  width: 6px;
}
.discription::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 6px solid rgb(151, 151, 151); /* creates padding around scroll thumb */
}
.discription__author {
  margin-bottom: 24px;
}
.discription__theme {
  margin-bottom: 24px;
}

.tags {
  margin-bottom: 48px;
}
.tags__container {
  max-width: 670px !important;
  margin: 0 auto;
  padding: 24px 0px !important;
  border-bottom: 1px solid rgb(234, 234, 238);
  display: flex;
}
.tags__items {
  margin-right: 24px;
  text-decoration: none;
}
.tags__items:last-child {
  margin-right: 0;
}
.tags__items i {
  font-size: 20px;
  color: rgb(34, 34, 34);
}
.tags__share {
  color: rgb(34, 34, 34) !important;
}

.audio {
  margin-bottom: 40px;
}
.audio__bar {
  cursor: pointer;
  border-radius: 2px;
  width: 100%;
  background-color: rgb(245, 245, 247);
  height: 7px;
}
.audio__fill {
  position: relative;
  border-radius: 2px;
  width: 0;
  height: 100%;
  background-color: rgb(34, 34, 34);
}
.audio__fill::before {
  content: "";
  aspect-ratio: 1/1;
  width: 9px;
  background-color: rgb(2, 2, 2);
  position: absolute;
  right: -5px;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.audio__tools {
  display: flex;
  align-items: center;
}
.audio__time {
  margin-right: 4px;
}
.audio__endtime {
  margin-left: 10px;
  margin-right: 10px;
}
.audio__volumeRange {
  position: absolute;
  width: 55px;
  top: -20px;
  box-shadow: 0 0 5px rgb(245, 245, 247);
  left: -60%;
  border: none;
  visibility: hidden;
  transition: all 0.2s ease-in;
}
.audio__volumeRange[type=range] {
  accent-color: rgb(34, 34, 34);
}
.audio__volume {
  position: relative;
}
.audio__volume:hover input {
  visibility: visible;
}

.time {
  font-family: "Source Serif 4";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.16em;
}

.fa-volume-xmark {
  width: 13px;
}

.fa-play, .fa-volume-low, .fa-download, .fa-pause {
  cursor: pointer;
  font-size: 15px;
}

.fa-play {
  margin-right: 16px;
}

.fa-pause {
  margin-right: 18px;
}

.fa-volume-low {
  margin-right: 17px;
}

.posts__container {
  max-width: 654px;
  padding: 0 16px;
  margin: 0 auto;
}
.posts__item {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}
.posts__content {
  margin-bottom: 24px;
}
.posts__content h3 {
  margin-bottom: 16px;
}
.posts__content p {
  margin-bottom: 39px;
}

/* MAIN STYLES 
/* ================================================ */
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: inline-block;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Source Serif 4";
  font-weight: 600;
  letter-spacing: 0.16em;
}

.purple {
  color: rgb(114, 71, 202);
}

.open {
  transform: translate(0);
}

.midText {
  font-family: "Source Serif 4";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(85, 85, 85);
}

.container {
  padding: 0 16px;
  max-width: 641px;
  margin: 0 auto;
}

.Title {
  font-family: "Source Serif 4";
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
}